Django==5.0
python-dotenv==1.0.0
paho-mqtt==2.0.0
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
whitenoise==6.6.0
channels==4.0.0
django-cors-headers==4.3.1
channels-redis==4.1.0
daphne==4.0.0
djangorestframework==3.14.0
django-widget-tweaks==1.5.0
django-debug-toolbar==4.2.0
gunicorn==21.2.0
django-filter==23.4
django-oauth-toolkit==2.3.0
drf-yasg==1.21.7
requests==2.31.0
geopy==2.4.1